[Unit]
Description=Trading Bot Flask API
After=network.target

[Service]
Type=simple
User=kashyap
WorkingDirectory=/home/kashyap/disk_storage/Oracle/trading-bot-project
Environment=PATH=/home/kashyap/disk_storage/Oracle/trading-bot-project/venv/bin
Environment=BOT_HOME=/home/kashyap/disk_storage/Oracle/trading-bot-project
ExecStart=/home/kashyap/disk_storage/Oracle/trading-bot-project/venv/bin/python server/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
